<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h3>Productos a Solicitar</h3>
                </div>
                {{!#if Productos}}
                <div class="card-body">
                    <ul class="list-group">
                        {{#each elementos}}
                            <li class="list-group-item">
                            <span class="badge bg-secondary">{{this.qty}}</span>
                            <strong>{{this.items.N_Producto}}</strong>
                            <div class="btn-group">
                                <button class="btn btn-primary btn-xs dropdown-toggle" type="button" data-bs-toggle="dropdown">Action <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="../../Solicitudes/Eliminar1/{{this.items.Id_Producto}}">Quitar 1</a></li>
                                    <li><a class="dropdown-item" href="../../Solicitudes/EliminarProducto/{{this.items.Id_Producto}}">Eliminar Todo</a></li>
                                </ul>
                            </div>
                        </li>
                        {{/each}}
                        
                    </ul>
                    <br>
                    <button class="btn btn-success"> Solicitar Productos</button>
                    </div>
                </div>
                {{!else}}
                <div class="card-body">
                    <h3>No se han agregado productos</h3>
                </div>
                {{!/if}}
            </div>
        </div>
    </div>
</div>