<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center">
                Agregar Producto
            </h3>
            <form role="form" action="/Inventario/Agregar" method="post">
                <div class="row">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-3">

                        <div class="form-group ">

                            <label for="Text">
                                Nombre Producto
                            </label>
                            <input class="form-control" type="text" name="N_Producto" placeholder="Nombre Producto">
                            <br>
                        </div>
                        <div class="form-group ">
                            <label for="">Cantidad Producto</label>

                            <input class="form-control" type="text" name="Stock_Actual" placeholder="Ingrese Cantidad">
                        </div>
                        <div class="form-group"><label for="Text">
                                Stock Minimo
                            </label>
                            <input class="form-control" type="text" name="Stock_Minimo"
                                placeholder="Cantidad Minima para el Producto">
                        </div>
                        <br>
                        <div class="form-group">
                            <input hidden class="form-control " type="text" name="Id_Producto">
                        </div>
                        <br>
                    </div>
                    <div class="col-md-3"> {{!NO BORRAR}}
                        <div class="form-group">
                            Institucion a la que pertenece
                            <select class="custom-select form-control" id="Institucion" name="Institucion">
                                <option selected>Seleccione Institucion</option>
                                <option value="IPVC">IPVC</option>
                                <option value="UB">UB</option>
                                <option value="UAC">UAC</option>
                            </select>
                            <br>
                        </div>
                        <div class="form-group">
                            Categoria del Producto
                            <select class="custom-select form-control" name="Tipo" id="Seccion">
                                <option selected>Seleccione Categoria</option>
                                <option value="Oficina">Oficina</option>
                                <option value="Limpieza">Limpieza</option>
                                <option value="Impresoras">Impresoras</option>
                                <option value="Toners">Toners</option>
                                <option value="Productos Electricos">Productos Electricos</option>
                                <option value="Computadoras">Computadoras</option>
                                <option value="Taller">Material talleres</option>
                                <option value="Perifericos">Perifericos</option>
                            </select>
                            <br>
                        </div>
                        <div class="form-group">
                            Ubicacion
                            <select class="custom-select form-control" name="Ubicacion" id="Ubicacion">
                                <option selected>Donde esta guardado</option>
                                <option value="Bodega 1">Bodega 1</option>
                                <option value="Bodega 2">Bodega 2</option>
                                <option value="Bodega 3">Bodega 3</option>
                                <option value="Bodega IPVC">Bodega IPVC/UAC</option>
                                <option value="Oficina Informatica">Oficina Informatica</option>
                            </select>
                            <br>
                        </div>
                        <div class="form-group">
                            Observaciones
                            <textarea class="form-control" name="Observacion" rows="5" maxlength="250"
                                style="resize:none" placeholder="Observaciones"></textarea>
                        </div>
                        <br>

                        <div class="form-group">
                            <button class="form-control btn btn-success btn-block">
                                guardar
                            </button>
                            <br>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>