<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-3">
				</div>
				<div class="col-md-6">
					<form action="testing123" role="form" method="post">
						<div class="form-group">

							<label for="exampleInputEmail1">
								Email address
							</label>
							<input name="id" type="email" class="form-control" id="exampleInputEmail1" />
						</div>
						<div class="form-group">

							<label for="exampleInputPassword1">
								Password
							</label>
							<input name="ps" type="password" class="form-control" id="exampleInputPassword1" />
						</div>
						<div class="form-group">

							<label for="exampleInputFile">
								File input
							</label>
							<input type="file" class="form-control-file" id="exampleInputFile" />
							<p class="help-block">
								Example block-level help text here.
							</p>
						</div>
						<div class="checkbox">

							<label>
								<input type="checkbox" /> Check me out
							</label>
						</div>
						<button type="submit" class="btn btn-primary">
							Subir
						</button>
					</form>
					<form action="parse" method="post">
						<button type="submit" class="btn btn-primary">
							Parse
						</button>
					</form>
				</div>
				<div class="col-md-3">
				</div>
			</div>
			<br>
			
			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-6">
					<hr>
					<form action="checkbox" method="post">
						<div class="form-check">
							<input class="form-check-input" type="radio" value="chk1" name="flexRadioDefault" id="flexRadioDefault1">
							<label class="form-check-label" for="flexRadioDefault1">
								Default radio
							</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" value="chk2" type="radio" name="flexRadioDefault" id="flexRadioDefault2"
								checked>
							<label class="form-check-label" for="flexRadioDefault2">
								Default checked radio
							</label>
							
							</div>
							<button type="submit" class="btn btn-info">boton</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>