{{#if success}}
  <div class="container p-4">
    <div class="row">
      <div class="col-md-4 mx-auto">
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <ion-icon type="button" class="close mx-auto" data-dismiss="alert" aria-label="Close" name="close-outline">
          </ion-icon>
          <h4>
            {{success}}
          </h4> <strong>Base de Datos</strong> Actualizada
        </div>
      </div>
    </div>
  </div>
  </div>
  {{/if}}