<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Eliminar Producto</h3>
            </div>
            <div class="modal-body">
                <h4> ¿Esta Seguro que desea eliminar el siguiente producto?</h4>
                <br>
                <strong><p id="Id_prod"></p></strong>
            </div>
            <div class="modal-footer">
                <a href="/" class="btn btn-danger Modal-Eliminar-p" data-dismiss="modal">Eliminar</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>