<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #3647E8;">
    <div class=" text-uppercase">
        <a style="color: aqua" class="navbar-brand" href="#"><img src="img/IPVC2021_vertical blanco.png" style="max-width:5%" class="d-block w-100" alt="Responsive image">Sistema Inventario IPVC</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse ml-auto" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a style="color: aqua" class="nav-link" href="../../Inventario">Lista Inventario <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a style="color: aqua" class="nav-link" href="../../Inventario/Agregar">Agregar Productos</a>
                </li>
                <li class="nav-item">
                    <a style="color: aqua" class="nav-link" href="#">Perfil</a>
                </li>
            </ul>
        </div>
    </div>
</nav>