<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header text-white bg-dark">
                    <h3>Cambiar Contraseña</h3>
                </div>
                <div class="card-body form-group">
                    <form action="/Auth/CambiarContrasena" method="post">
                        <div class="form-floating">
                            <input class="form-control" placeholder="Ingrese Antigua Contraseña" name="OldPassword"
                                id="floatingInput" type="password"></input>
                            <label class="ms-2" for="floatingInput">Ingrese Antigua Contraseña</label>
                        </div>
                        <div class="form-floating mt-2">
                            <input class="form-control" placeholder="Ingrese Antigua Contraseña" name="Newpassword"
                                id="floatingInput" type="password"></input>
                            <label class="ms-2" for="floatingInput">Ingrese Nueva Contraseña</label>
                        </div>
                        <div class="form-floating mt-2">
                            <input class="form-control" placeholder="Ingrese Antigua Contraseña" name="Copypassword"
                                id="floatingInput" type="password"></input>
                            <label class="ms-2" for="floatingInput">Repita Nueva Contraseña</label>
                        </div>
                        <div class="row mt-2">
                            <div class="col">
                                <div class="mt-2">
                                    <button type="submit" class="btn btn-success btn-block">Guardar Cambios</button>
                                </div>
                            </div>
                            <div class="col">
                                <div class="mt-2">
                                    <a href="../../perfil" class="btn btn-danger my-auto">Cancelar</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


<script src="js/log.js"></script>