<div class="container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card text-Centered">
                    <div class="card-header mx-auto">
                        <div class="mx-auto">
                            <h3>
                                Inicio de Sesi칩n
                            </h3>
                        </div>
                    </div>
                    <div class="card-body">
                        <form id="validacion-live" action="/Login" role="form" class="row g-3 needs-validation">
                            <div class="form-horizontal form-group control-group mx-auto">
                                <label for="rut" class="form-label">
                                    Ingrese Usuario
                                </label>
                                <input id="rut" type="text" class="form-control" placeholder="11.111.111-k" required>

                            </div>
                            <br>
                            <div class="form-group">

                                <label for="Contrase침a" required>
                                    Contrase침a
                                </label>
                                <input type="password" class="form-control" id="Contrase침a" placeholder="********">
                            </div>
                            <br>
                            <button type="submit" class="btn btn-primary ms-auto">
                                Submit
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>